<div class="container">
  <table>
    <thead>
      <th
        *ngFor="let header of headers"
        class="column-{{ header.toLowerCase() }}"
      >
        {{ header }}
      </th>
    </thead>
    <tr *ngFor="let revenu of revenus">
      <td class="column-heure">{{ revenu.heure }}</td>
      <td class="column-type">{{ revenu.type }}</td>
      <td class="column-source">{{ revenu.source }}</td>
      <td class="column-montant">
        {{ revenu.montant | currency: " ":"symbol":"1.0" }} Ar
      </td>
    </tr>
    <tfoot>
      <td class="column-heure">{{ footers[0] }}</td>
      <td class="column-type-source" colspan="2">{{ footers[1] }}</td>
      <td class="column-montant">
        {{ footers[2] | currency: " ":"symbol":"1.0" }} Ar
      </td>
    </tfoot>
  </table>
</div>
