@import "../../../libs/sass-eo/ALL-IMPORT";

.container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    @include animation-zoom(in);

  .daily-revenu {
      _border: 2px dashed darkgreen;
      padding-bottom: 2rem;

      .daily-title {
          color: dodgerblue;
          font-style: italic;
          text-align: center;
      }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      color: white;
      background-color: dodgerblue;
      text-transform: capitalize;
      font-weight: bold;
    }

    td,
    th {
      padding: 1rem 2rem;
      border: 1px solid grey;
    }

    .column-heure {
      width: 100px;
    }

    tfoot {
      .column-type-source {
        text-align: center;
        background-color: dodgerblue;
      }

      td {
        font-weight: bold;
      }
    }
  }
}
