<div class="container">
  <section id="login-box">
    <h1 id="logo--text">Comptat <span style="color: gold">App</span></h1>

    <form>
      <div class="form-item">
        <p class="label">Identifiant</p>
        <input type="text" #id />
      </div>

      <div class="form-item">
        <p class="label">Mot de passe</p>
        <input type="password" #password />
      </div>

      <button
        mat-raised-button
        type="button"
        (click)="onLogin(id.value, password.value)"
      >
        Se connecter
      </button>
      <span id="app-version">v1.0.0</span>
    </form>
  </section>
</div>
