@charset "UTF-8";

@import "../../imports/button-style";
@import "../../libs/sass-eo/ALL-IMPORT";

.container {
  width: 100%;
  height: 100%;

  h1 {
    width: 100%;
    text-align: center;
    color: dodgerblue;
    font-weight: bold;
    text-transform: capitalize;
  }

  section.caisse-field {
    display: flex;
    justify-content: space-around;

    .caisse {
      p {
        font-weight: bold;
      }

      h3 {
        color: goldenrod;
      }
    }
  }

  nav {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;

    input {
      @include input-scale();
    }
    
    button {
      @include button-style();
    }
  }
}
