@import "./libs/sass-eo/ALL-IMPORT";
@import "./imports/typography";

//global
html {
  background-color: #444;
}

* {
  box-sizing: border-box;
  color: #eee;
  font-weight: 500;
  font-size: medium;
  font-family: Quicksand;
}

// Normalize permet aux navigateurs de rendre tous les éléments de manière plus cohérente et conforme aux normes modernes
@include normalize();

// Personnalisation du scrolling bar
@include bar-scrolling(rgb(197, 134, 18), rgb(148, 105, 24), #333);
