<div class="container">
  <nav class="menu">
    <h1>
      Comptat App
      <br />
      <span>v1.0.0</span>
    </h1>
    <h3
      class="menu-item"
      [routerLink]="['revenu']"
      routerLinkActive="selected-menu-item"
    >
      Revenu
    </h3>
    <h3
      class="menu-item"
      [routerLink]="['depense']"
      routerLinkActive="selected-menu-item"
    >
      Dépense
    </h3>
    <h3
      class="menu-item"
      [routerLink]="['credit']"
      routerLinkActive="selected-menu-item"
    >
      Crédit
    </h3>
    <h3
      class="menu-item"
      [routerLink]="['depenser']"
      routerLinkActive="selected-menu-item"
    >
      Dépenser
    </h3>
    <h3
      class="menu-item"
      [routerLink]="['revenu-archive']"
      routerLinkActive="selected-menu-item"
      *ngIf="userType === 'admin'"
    >
      Revenu archivé
    </h3>
    <h3
      class="menu-item"
      [routerLink]="['depense-archive']"
      routerLinkActive="selected-menu-item"
      *ngIf="userType === 'admin'"
    >
      Dépense archivé
    </h3>
    <h3
      class="menu-item"
      [routerLink]="['revenu-mensuel']"
      routerLinkActive="selected-menu-item"
      *ngIf="userType === 'admin'"
    >
      Revenu mensuel
    </h3>
    <h3
      class="menu-item"
      [routerLink]="['depense-mensuelle']"
      routerLinkActive="selected-menu-item"
      *ngIf="userType === 'admin'"
    >
      Dépense mensuelle
    </h3>
    <h3
      class="menu-item"
      [routerLink]="['analyse']"
      routerLinkActive="selected-menu-item"
      *ngIf="userType === 'admin'"
    >
      Analyse
    </h3>
  </nav>

  <div class="main">
    <mat-toolbar>
      <div class="caisse" (click)="onCaisse()">
        <strong>💰 Caisse : </strong>
        <span>{{ caisse | currency: " ":"symbol":"1.0" }} Ar</span>
      </div>
      <div class="date">🗓 {{ today | date: "EEEE dd MMMM YYYY" }}</div>
      <div class="user" (click)="onLogout()">
        <strong>👤 {{ userType }}</strong>
      </div>
    </mat-toolbar>

    <section>
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
