<div class="container">
  <nav id="menu">
    <div id="humburger-container">
      <button
        class="hamburger hamburger--slider"
        type="button"
        (click)="humburgerClickEvent()"
        [ngClass]="humbergerStatus ? 'is-active' : 'is-disable'"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>

    <div id="logo" [routerLink]="['./']">
      <img src="../../assets/img/comptat-logo.svg" alt="official-logo" />
      <h1 class="logo--text">Comptat <span style="color: gold">App</span></h1>
    </div>

    <h3
      class="menu-item"
      [routerLink]="['revenu']"
      routerLinkActive="selected-menu-item"
    >
      Revenu
    </h3>
    <h3
      class="menu-item"
      [routerLink]="['depense']"
      routerLinkActive="selected-menu-item"
    >
      Dépense
    </h3>
    <h3
      class="menu-item"
      [routerLink]="['credit']"
      routerLinkActive="selected-menu-item"
    >
      Crédit
    </h3>
    <h3
      class="menu-item"
      [routerLink]="['depenser']"
      routerLinkActive="selected-menu-item"
    >
      Dépenser
    </h3>
    <h3
      class="menu-item"
      [routerLink]="['revenu-archive']"
      routerLinkActive="selected-menu-item"
      *ngIf="userType === 'admin'"
    >
      Revenu archivé
    </h3>
    <h3
      class="menu-item"
      [routerLink]="['depense-archive']"
      routerLinkActive="selected-menu-item"
      *ngIf="userType === 'admin'"
    >
      Dépense archivé
    </h3>
    <h3
      class="menu-item"
      [routerLink]="['revenu-mensuel']"
      routerLinkActive="selected-menu-item"
      *ngIf="userType === 'admin'"
    >
      Revenu mensuel
    </h3>
    <h3
      class="menu-item"
      [routerLink]="['depense-mensuelle']"
      routerLinkActive="selected-menu-item"
      *ngIf="userType === 'admin'"
    >
      Dépense mensuelle
    </h3>
    <h3
      class="menu-item"
      [routerLink]="['analyse']"
      routerLinkActive="selected-menu-item"
      *ngIf="userType === 'admin'"
    >
      Analyse
    </h3>
    <span id="app-version">v1.0.0</span>
  </nav>

  <div id="main">
    <mat-toolbar>
      <div class="toolbar-items">
        <div class="caisse items" (click)="onCaisse()">
          <button class="caisse-btn">
            💰 Caisse :
            <span>{{ caisse | currency: " ":"symbol":"1.0" }} Ar</span>
          </button>
        </div>
        <div class="date items">🗓 {{ today | date: "EEEE dd MMMM YYYY" }}</div>
        <div class="user items">
          <strong>👤 {{ userType }}</strong>
        </div>
        <div class="lougout items" (click)="onLogout()">
          <button class="logout-btn">⏻ Logout</button>
        </div>
      </div>
    </mat-toolbar>

    <section>
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
